/venv/
/db.sqlite3
/company/migrations/0001_initial.py
/company/migrations/0002_auto_20210502_1942.py
/company/migrations/0003_auto_20210502_2014.py
/company/migrations/0004_auto_20210502_2149.py
/company/migrations/0005_employeeuser.py
/company/migrations/0006_alter_employeeuser_id.py
/company/migrations/0007_auto_20210502_2157.py
